@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import "base/variables";
@import "base/mixins";

body {
    position: relative;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}



@import "blocks/promo";
@import "blocks/titles";
@import "blocks/btn";
@import "blocks/sidepanel";
@import "blocks/hamburger";
@import "blocks/menu";
@import "blocks/descr";
@import "blocks/resume";
@import "blocks/usage";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contacts";
@import "blocks/media";
.mainColToSocial {
    color: $main_color;
}
.mainColToDivider {
    background-color: $main_color;
}
.mainColToSocialLink {
    fill: $main_color;
}