.descr {
    padding-top: 136px;

    &__img {
        width: 400px;
        height: 100%;
    }

    &__aboutMe {
        width: 570px;
        height: 270px;
    }

    &__title {
        position: relative;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: 700;
        @include before_circle;
    }

    &__subtitle {
        font-weight: 700;
    }

    &__line {
        width: 60px;
        height: 0px;
        border: 2px solid $main_color;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 50px;
    }

    &__text {
        margin-top: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    &__items {
        width: 570px;
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, 116px);
        column-gap: 50px;
        row-gap: 30px;
    }

    &__item {
        position: relative;
        width: 260px;
        display: grid;
        grid-template-columns: [col1-s]50px [col2-s]200px;
        grid-template-rows: [row1-s]20px [row2-s]100px;
        column-gap: 20px;
        row-gap: 6px;
        @include before_circleImg;

    }

    &__itemImg {
        display: inline;
        margin-left: 15px;
        grid-column: 1/2;
        grid-row: 1/3;

    }

    &__header {
        font-size: 14px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }

    &__description {
        margin-top: 6px;
        font-size: 12px;
    }

    &__gridContainer {
        display: grid;
        width: 1040px;
        height: 604px;
        grid-template-columns: 453px 570px;
        grid-template-rows: 240px 364px;
        column-gap: 70px;
        row-gap: 20px;
    }
}

#descr_el1 {
    grid-column: 1/2;
    grid-row: 1/3;
}