@media(max-width: 1439px) {
    .container {
        max-width: 960px;
    }

    .sidepanel {
        display: none;
    }
}


@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
    }
}

@media(max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .promo {
        background: url('../img/main_bg.jpg') no-repeat 62%/cover;

        &__title {
            font-size: 26px;
            line-height: 39px;
        }

        .hamburger {
            right: 20px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 24px;
        }

        &__btns {
            margin-top: 30px;
        }
    }

    .menu {
        &__block {
            // width: 270px;
            width: 75%;
            padding-left: 20px;
        }

        &__link {
            a {
                font-size: 24px;
                line-height: 36px;
            }
        }

    }
}