.resume {
    &__title {
        position: relative;
        text-align: center;
        margin-top: 100px;
        font-size: 17px;
        @include before_circle;

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        text-align: center;
        margin-top: 6px;
    }

    &__line {
        margin: 0 auto;
        width: 60px;
        height: 0px;
        border: 2px solid $main_color;
        margin-top: 25px;
        border-radius: 50px;
    }

    &__column-header {
        position: relative;
        padding-left: 55px;

        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: $main_color;
        }
    }

    &__items {
        padding-left: 55px;
    }

    &__item {
        position: relative;
        padding-top: 45px;

        &::after {
            content: "";
            position: absolute;
            height: calc(100% + 18px);
            width: 1px;
            background-color: #000;
            top: -18px;
            left: -48px;
        }
    }

    &__item-head {
        position: relative;
        display: grid;
        grid-template-columns: 40px 355px;
        column-gap: 15px;

        &::after {
            content: "";
            position: absolute;
            width: 48px;
            height: 1px;
            background-color: #000;
            top: 19px;
            left: -48px;
        }

        @include before_circle;

        &:before {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

    }

    &__item-icon {
        grid-row: 1/3;
        align-self: end;
        justify-self: end;
    }

    &__item-header {
        font-weight: 700;
        font-size: 13px;
        line-height: 21px;
    }

    &__item-subheader {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    &__item-text {
        margin-top: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    ul {
        list-style-type: none;
    }

    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 437px);
        column-gap: 136px;
    }

}